body {
  background-color: #424242;
  color: lightgrey;
  font-family: 'Yantramanav', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: black;
}

img {
  padding: 1em;
}

.logo {
  padding-top: 1.5em;
}

.mail {
  color: inherit;
  text-decoration: underline;
}

.custom-button {
  background-color: inherit;
  color: inherit;
  margin: 2em;
  border-radius: 0px;
}
